    {% extends 'base.html.twig' %}

    {% block body %}
    <div class="pull-right">

        <a href="{{ path('admin_collection_index') }}" class="btn btn-default">
            <i class="fa fa-list" aria-hidden="true"></i>
            Back to the list
        </a>

        <a href="{{ path('admin_collection_edit', { 'id': collection.id }) }}" class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit
        </a>

        {{ form_start(delete_form, {"attr": {"style": "display: inline-block"}}) }}
            <button type="submit" class="btn btn-default">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </button>
        {{ form_end(delete_form) }}

    </div>
    <h1>Collection</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Info</h2>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ collection.id }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ collection.slug }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ collection.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
