{% trans_default_domain 'FOSUserBundle' %}

<div class="pull-right">
    <a href="{{ url('fos_user_profile_edit') }}" class="btn btn-default">
        <i class="fa fa-edit"></i>
        Edit profile
    </a>
    <a href="{{ url('fos_user_change_password') }}" class="btn btn-default">
        <i class="fa fa-lock"></i>
        Change password
    </a>
</div>

<h1>Profile</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">User</h2>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'profile.show.username'|trans }}:</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.email'|trans }}:</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
</div>

