    {% extends 'base.html.twig' %}

    {% block body %}
        {% include 'NewsBundle::flash.html.twig' %}
    <div class="pull-right">
    
        <a href="{{ path('sowp_news_collection_index') }}" class="btn btn-default">
            <i class="fa fa-list" aria-hidden="true"></i>
            Back to the list
        </a>
        <a href="{{ path('sowp_news_collection_edit', {'slug' : collection.slug}) }}" class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit
        </a>
    </div>
<h1>Collection</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Info</h2>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ collection.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ collection.title }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ collection.slug }}</td>
                </tr>
                <tr>
                    <th>Public</th>
                    <td>{% if collection.public %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Createdat</th>
                    <td>{% if collection.createdAt %}{{ collection.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                {% if collection.modifiedAt and not(collection.modifiedAt == collection.createdAt) %}
                <tr>
                    <th>Modifiedat</th>
                    <td>{{ collection.modifiedAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
