{% extends 'base.html.twig' %}

{% form_theme form _self %}
    {% block _news_attachments_item_widget %}
        <tr>
            {% for column in prototype %}
                <td>
                    {{ form_widget(column) }}
                </td>
            {% endfor %}
            
            <td>
                <a href="#" class="attachment-remove">X</a>
            </td>
        </tr>
    {% endblock %}

    {% block _news_attachments_widget %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype' : block('_news_attachments_item_widget')|trim}) %}
        {% endif %}
        <table {{ block('widget_container_attributes') }}>
            <thead>
                {% for column in prototype %}
                <th>
                    {{ form_label(column) }}
                </th>
                {% endfor %}
                <th>
                    <label class="col-sm-2 control-label" for="">Usuń</label>
                </th>
                <th>
                    <a class="btn btn-default btn-add" id="add_attachment" title="Dodaj załącznik" href="#">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        Dodaj Załącznik
                    </a>
                </th>
            </thead>
            
            <tbody id="appendable">
            </tbody>
        </table>
        {% if form.vars.data %}
            <script>
                var json_attachments = '{{ form.vars.data|json_encode()|raw }}';
            </script>
        {% endif %}
    {% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css"
            integrity="sha256-xqxV4FDj5tslOz6MV13pdnXgf63lJwViadn//ciKmIs="
            crossorigin="anonymous" />
{% endblock %}

{% block flashes %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %} 
{% endblock %}

{% block body %} 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"
            integrity="sha256-L8glE3PzqSO1/nrEHYWoNyozn5i3ETucQoJGA7gp2mI="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    {% if form.attachments is defined %}
    <script type="x-newsmodule-template" id="_news_attachments_item_widget">
        <tr>
            <td>
                <input type="text" id="news_attachments___name___name" name="news[attachments][__name__][name]" value="_|NAME|_" class="form-control" />
            </td>
            <td>
                <input type="text" id="news_attachments___name___file" name="news[attachments][__name__][file]" value="_|FILE|_" />
            </td>

            <td>
                <a href="#" class="attachment-remove">X</a>
            </td>
        </tr>
    </script>
    <script>
        $(document).ready(function(){
            var attCount = '{{ form.attachments|length }}',
            pattern = $("#news_attachments").attr("data-prototype"),
            appendable = $("#appendable");

            if (typeof json_attachments !== 'undefined') {
                var attachments = $.parseJSON(json_attachments),
                    template = $("#_news_attachments_item_widget").html();
                for (i in attachments) {
                    var elem = template.replace(/__name__/g, i);
                    elem = elem.replace(/_\|NAME\|_/g, attachments[i]['name']);
                    elem = elem.replace(/_\|FILE\|_/g, attachments[i]['file']);
                    elem = $.parseHTML(elem);
                    appendable.append(elem);
                    console.log(elem);
                    attCount++;
                }
            }

            $("#add_attachment").click(function(e){
                e.preventDefault();
                var elem = $.parseHTML(pattern.replace(/__name__/g, attCount));
                appendable.append(elem);
                attCount++;
            });

            $(document).on('click', ".attachment-remove", function(e){
                e.preventDefault();
                $(this).parent().parent().remove();
            });


        });
    </script>
    {% endif %}
{% endblock %}