{% extends 'base.html.twig' %}

{% block body %}
    {% include 'NewsModuleBundle::flash.html.twig' %}
    <div class="pull-right">
            <a href="{{ path('sowp_newsmodule_news_new') }}" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Create a new entry
            </a>
    </div>
    <h1>News list</h1>

            {% for news_entry in news %}
                <div class="panel panel-default news-entry">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ news_entry.title }}
                            <a href="{{ path('sowp_newsmodule_news_edit', { 'slug': news_entry.slug }) }}" class="btn btn-default">
                                <i class="fa fa-pencil"></i>
                                Edit
                            </a>
                        </h3>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                            </tr>
                            <tr>
                                <td class="id">
                                    <a href="{{ path('sowp_newsmodule_news_show', { 'slug': news_entry.slug }) }}">{{ news_entry.id }}</a>
                                </td>
                            </tr>
                            {% if news_entry.attachments %}
                            <tr>
                                <th>
                                    Attachments
                                </th>
                            </tr>
                            <tr>
                                <td class="attachments">
                                    {% for attachment in news_entry.attachments %}
                                        {% if attachment.file is iterable %}
                                            {# leave this after test phase #}
                                            <a href="{{ asset('uploads/attachments/' ~ attachment.file.filename) }}" target="_blank">{{ attachment.name }}</a>,
                                        {% else %}
                                            <a href="{{ asset('upload/attachments/' ~ attachment.file) }}" target="_blank">{{ attachment.name }}</a>,
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Pinned</th>
                            </tr>
                            <tr>
                                <td>
                                    {% if news_entry.pinned %}Yes{% else %}No{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Created At
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    {% if news_entry.createdAt %}{{ news_entry.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Created By
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    {{ news_entry.createdBy }}
                                </td>
                            </tr>
                            {% if news_entry.modifiedAt %}
                                <tr>
                                    <th>
                                        Last Modified At
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ news_entry.modifiedAt|date('Y-m-d H:i:s') }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Last Modified By
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ news_entry.modifiedAt|date('Y-m-d H:i:s') }}
                                    </td>
                                </tr>
                                {% if news_entry.modifyNote is defined and news_entry.modifyNote|length %}
                                    <tr>
                                        <th>
                                            Modify Note
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ news_entry.modifyNote }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if news_entry.deletedAt %}
                                    <tr>
                                        <th>
                                            Deleted At
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ news_entry.deletedAt|date('Y-m-d H:i:s') }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        </tbody>
                    </table>
                    <hr>
                    <div class="container-liquid" style="word-wrap: break-word">
                        {{ news_entry.content|purify }}
                    </div>
                </div>
            {% endfor %}
            <div class="panel panel-default">
                {{ pagerfanta(news) }}
            </div>
    <!--</div>-->
{% endblock %}