{% extends 'base.html.twig' %}

{% block body %}
    <div class="pull-right">
            <a href="{{ path('sowp_newsmodule_news_new') }}" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Create a new entry
            </a>
    </div>
    <h1>News list</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">List</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Attachments</th>
                    <th>Pinned</th>
                    <th>Createdat</th>
                    <th>Modifiedat</th>
                    <th>Modifynote</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for news in news %}
                <tr>
                    <td><a href="{{ path('sowp_newsmodule_news_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                    <td>{{ news.title }}</td>
                    <td>{{ news.content }}</td>
                    <td>{% if news.attachments %}
                            {% for attachment in news.attachments %}
                                {{ attachment.name }}, {{ attachment.file }}
                            {% endfor %}
                        {% endif %}</td>
                    <td>{% if news.pinned %}Yes{% else %}No{% endif %}</td>
                    <td>{% if news.createdAt %}{{ news.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if news.modifiedAt %}{{ news.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ news.modifyNote }}</td>                    <td>
                        <a href="{{ path('sowp_newsmodule_news_show', { 'id': news.id }) }}" class="btn btn-default">
                            <i class="fa fa-eye"></i>
                            Show
                        </a>
                        <a href="{{ path('sowp_newsmodule_news_edit', { 'id': news.id }) }}" class="btn btn-default">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </a>                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
