{% extends 'NewsModuleBundle:news:_form_new_layout.html.twig' %}

{% block body %}
    <div class="pull-right">
    
        <a href="{{ path('sowp_newsmodule_news_index') }}" class="btn btn-default">
            <i class="fa fa-list" aria-hidden="true"></i>
            Back to the list
        </a>
    </div>
    
<h1>Utwórz wiadomość</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <input class="pull-right" type="submit" value="Utwórz" />
    <a class="btn btn-default btn-add" title="Dodaj załącznik" href="#">
        <i class="fa fa-minus" aria-hidden="true"></i>
            Dodaj załącznik
    </a>
    {{ form_end(form) }}

    {{ dump(form) }}
{% endblock %}

