{% extends 'base.html.twig' %}

{% form_theme form _self %}
    {% block _news_attachments_item_widget %}
        <tr>
            <td>
                {{ form_label(prototype.name, null, {label_attr: {class: 'sr-only'}}) }}
                {{ form_widget(prototype.name) }}
            </td>
            <td>
                {{ form_label(prototype.file, null, {label_attr: {class: 'sr-only'}}) }}
                {{ form_widget(prototype.file) }}
            </td>
            <td>
                <a href="#" class="btn btn-xs btn-danger js-row-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                        Remove
                    </i>
                </a>
            </td>
        </tr>
    {% endblock %}

    {% block _news_attachments_widget %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype' : block('_news_attachments_item_widget')|trim}) %}
        {% endif %}
        <table {{ block('widget_container_attributes') }}>
            <thead>
                {% for column in prototype %}
                <th>
                    {{ form_label(column) }}
                </th>
                {% endfor %}
                <th>
                    <label class="col-sm-2 control-label" for="">Usuń</label>
                </th>
                <th>
                    <a class="btn btn-default btn-add" id="add_attachment" title="Add attachment" href="#">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        Add attachment
                    </a>
                </th>
            </thead>

            <tbody id="appendable">
                {% for row in form %}
                <tr>
                    <td>
                        {{ form_label(row.name, null, {label_attr: {class: 'sr-only'}}) }}
                        {{ form_widget(row.name) }}
                    </td>
                    <td>
                        {{ form_label(row.file, null, {label_attr: {class: 'sr-only'}}) }}
                        {{ form_widget(row.file) }}
                    </td>
                    <td>
                        <a href="#" class="btn btn-xs btn-danger js-row-remove">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                                Remove
                            </i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css"
            integrity="sha256-xqxV4FDj5tslOz6MV13pdnXgf63lJwViadn//ciKmIs="
            crossorigin="anonymous" />
{% endblock %}

{% block body %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"
            integrity="sha256-L8glE3PzqSO1/nrEHYWoNyozn5i3ETucQoJGA7gp2mI="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>

    {% if form.attachments is defined %}

    <script>
        $(document).ready(function(){
            var attCount = '{{ form.attachments|length }}',
            pattern = $("#news_attachments").attr("data-prototype"),
            appendable = $("#appendable");

            $("#add_attachment").click(function(e){
                e.preventDefault();
                var elem = $.parseHTML(pattern.replace(/__name__/g, attCount));
                appendable.append(elem);
                attCount++;
            });

            $(document).on('click', ".js-row-remove", function(e){
                e.preventDefault();
                $(this).closest('tr').remove();
            });


            tinymce.init({
                selector: '#news_content',
                menubar: false
            });

        });
    </script>
    {% endif %}
{% endblock %}