{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css"
            integrity="sha256-xqxV4FDj5tslOz6MV13pdnXgf63lJwViadn//ciKmIs="
            crossorigin="anonymous" />
{% endblock %}

{% block body %}
    
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}    
    
    <h1>Dodajesz Tag Wiadomości</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    
    <hr />
{% endblock %}
{% block messages %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"
            integrity="sha256-L8glE3PzqSO1/nrEHYWoNyozn5i3ETucQoJGA7gp2mI="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}