{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    {% if 'new' in actions -%}
    <div class="pull-right">
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Create a new entry
            </a>
    </div>
    {%- endif %}

    <h1>{{ entity }} list</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">List</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                {%- for field, metadata in fields %}

                    <th>{{ field|capitalize }}</th>

                {%- endfor %}

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
                <tr>

            {%- for field, metadata in fields %}
                {%- if loop.first and ('show' in actions) %}

                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                {%- elseif metadata.type in ['datetime'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
                
                {%- elseif metadata.type in ['date'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>
              
                {%- elseif metadata.type in ['time'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['array'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['boolean'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                {%- else %}

                    <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

                {%- if loop.last %}
                    <td>
                        
                    {%- if 'show' in record_actions %}

                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-default">
                            <i class="fa fa-eye"></i>
                            Show
                        </a>

                    {%- endif %}

                    {%- if 'edit' in record_actions %}

                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-default">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </a>

                    {%- endif %}
                    </td>

                {%- endif %}
            {%- endfor %}

                </tr>
            {{ '{% endfor %}' }}
            </tbody>
        </table>
    </div>

{{ "{% endblock %}" }}
{% endblock body %}
